---
import type { InferEntrySchema } from 'astro:content';
import type { Result } from '../../types/result'
import BaseCard from './BaseCard.astro';

interface Props {
    result: Result;
    game: InferEntrySchema<"games">;
}

const { result, game } = Astro.props;

const [first, second, third, fourth, fifth] = result.results;
---

<BaseCard id={game.id} name={game.name} eventTime={new Date(result.eventTime)}>
    {first && <span class="flex items-center justify-center w-12 h-12 bg-linear-to-br from-indigo-100 via-indigo-300 to-indigo-500 dark:from-indigo-100 dark:via-indigo-200 dark:to-indigo-500 text-white dark:text-primary-900 rounded-full font-bold text-lg shadow-sm">
        {first.toString().padStart(2, '0')}
    </span>}

    {second && <span class="flex items-center justify-center w-12 h-12 bg-linear-to-br from-indigo-100 via-indigo-300 to-indigo-500 dark:from-indigo-100 dark:via-indigo-200 dark:to-indigo-500 text-white dark:text-primary-900 rounded-full font-bold text-lg shadow-sm">
        {second.toString().padStart(2, '0')}
    </span>}

    {third && <span class="flex items-center justify-center w-12 h-12 bg-linear-to-br from-green-100 via-green-300 to-green-500 dark:from-green-100 dark:via-green-200 dark:to-green-500 text-white dark:text-primary-900 rounded-full font-bold text-lg shadow-sm">
        {third.toString().padStart(2, '0')}
    </span>}

    {fourth && <span class="flex items-center justify-center w-12 h-12 bg-linear-to-br from-green-100 via-green-300 to-green-500 dark:from-green-100 dark:via-green-200 dark:to-green-500 text-white dark:text-primary-900 rounded-full font-bold text-lg shadow-sm">
        {fourth.toString().padStart(2, '0')}
    </span>}

    {fifth && <span class="flex items-center justify-center w-12 h-12 bg-linear-to-br from-gold-100 via-gold-300 to-gold-500 dark:from-gold-100 dark:via-gold-200 dark:to-gold-500 text-white dark:text-primary-900 rounded-full font-bold text-lg shadow-sm">
        {fifth.toString().padStart(2, '0')}
    </span>}
</BaseCard>